body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, Sans-Serif;
}

.info {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 700px;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  background: #FFF;
}

.info h1 {
  padding: 20px;
  margin: 0px;
}

.info h2 {
  padding: 20px 20px 10px 20px;
  margin: 0px;
  font-size: 20px;
  font: 200 24px/24px Helvetica Neue, Arial, sans-serif;
}

.info p {
  padding: 0px 20px 20px 20px;
  margin: 0px;
  font-size: 13px;
  color: #333;
  line-height: 150%;
}

.info p.important {
  font-size: 16px;
}

.info p a {
  text-decoration: none;
  color: #5BB000;
}

.info p a:hover {
  color: #000;
}

.info pre code {
  margin: -10px 20px 20px 20px;
  overflow: auto;
  padding: 20px;
  background: #EEE;
  border: 1px solid #DDD;
  border-radius: 3px;
  display: block;
}

.info tt {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.info ul {
  margin: -10px 0px 0px 20px;
  padding: 0px 20px 20px 20px;
}

.info ul li {
  font-size: 13px;
  line-height: 170%;
}

#example {
  position: absolute;
  top: 0px;
  left: 750px;
  bottom: 0px;
  right: 0px;
  background: #FFF;
}

